<h1>Sessions#new</h1>

<%= form_tag sessions_path do %>
  <div class="control-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, params[:name] %>
  </div>
  <div class="control-group">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="control-group">
    <%= check_box_tag :remenber_me, 1, params[:remenber_me] %>
    <%= label_tag :remenber_me %>
  </div>
  <div class="form-actions"><%= submit_tag "ログイン" , :class => 'btn btn-primary' %></div>
<% end %>


