<%= form_for @goal, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.hidden_field :game_id, :value => @game_id, :class => 'text_field' %>
  </div>
  <div class="control-group">
    <%= f.label :player_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:player_id, @goal.goal_team_players(@team), :id, :name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "味方ゴール", :class => 'control-label' %>
    <div class="controls">
      <% checked = @goal.is_our_goal %>
      <% checked = true if @goal.is_our_goal == nil %>
      <%= f.check_box :is_our_goal, {:class => 'chk',:value => 1, :checked => checked}, '1', '0'  %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                team_path(@team), :class => 'btn' %>
  </div>
<% end %>
